<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Event</h1>
  </header>
  <section id="app">
    <h2>Event in Action</h2>
    <button class="clsOperator" type="button" v-on:click="addOne">Add</button>
    <button class="clsOperator" type="button" @click="deductOne">Remove</button>
    <button class="clsOperator" type="button" @click="result++">Add 1</button>
    <button class="clsOperator" type="button" v-on:click="add(3)">Add 3</button>
    <br><br>
    <button type="button" class="result-button">Result: {{result}}</button>

    <br><br>
    <hr>
    <p v-for="product in productList" :key="product.title">
      <input type="checkbox">
      <span>title:{{product.title}} - quantity:{{product.quantity}} - price:{{product.price}}</span>
    </p>
    <hr>
    <template v-for="product in productList" :key="product.title">
      <span>title:{{product.title}} - quantity:{{product.quantity}} - price:{{product.price}}</span>
    </template>
    <hr>
    <input type="text" v-on:input="setName($event, 'Schwarzmul')" placeholder="Enter your name">
    <p>Your name: {{ name }}</p>
  </section>
</body>

</html>