<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reactivity in Action</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
    
</head>
<body>
    <div id="app" class="container">
        <h1>{{message}}</h1>
        <hr>
        <div class="fruit-container">
            <h2>本月需要采购的水果：</h2>
            <div class="fruit-list-container">
                <ul>
                    <li v-for="(fruit, index) in fruits" :key="index" class="fruit-list">
                        <span class="fruit-name">{{ fruit }}</span>
                        <button class="remove-btn" @click="removeFruit(index)">删除</button>
                    </li>
                </ul>
            </div>
            <div class="add-fruit">
                <h4>想添加水果？</h4>
                <input type="text" v-model="newFruit" placeholder="请输入水果名称">
                <button @click="addFruit">添加</button>
            </div>
        </div>
    </div>
</body>
</html>