<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reactivity in Action</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3.5.13/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>

</head>

<body>
    <div id="app" class="container">
        <h1>{{message}}</h1>
        <hr>

        <div class="fruit-list-container">
            <!-- 添加水果部分 -->
            <div class="add-fruit">
                <h4>想添加水果？</h4>
                <div class="input-group">
                    <input type="text" v-model="newFruit" placeholder="请输入水果名称" class="fruit-input"
                        @keyup.enter="addFruit" />
                    <button class="add-btn" @click="addFruit">添加</button>
                </div>
            </div>
            <!-- 水果列表部分 -->
            <ul class="fruit-list">
                <li v-for="(fruit, index) in fruits" :key="index" class="fruit-item">
                    <span class="fruit-name">{{ fruit }}</span>
                    <div class="remove-icon" @click="removeFruit(index)">
                        <svg class="delete-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 6L18 18M18 6L6 18" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" />
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>